.banBtn::before{
    content: "Забанить";
}

.unbanBtn::before{
    content: "Разбанить";
}
html, body {
    min-width: 100%;
    min-height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

html{
    height: 100%;
}
.my-custom-full-class img{
    width: 668px;
}

#editor{
    width: 725px;
}
.post-content{
    overflow: hidden;
    max-height: 700px;

}
.post{

    padding-bottom: 0;
}
img{
    width: 100% !important;
    height: auto !important;
}

.textarea {
    resize: none;
    display: block;
    width: 100%;
    overflow: hidden;
    min-height: 40px;
    line-height: 20px;
}


.img-comment{
    width: 50px !important;
}
